<div class="dashboard-header">
  <h1 class="text-center">Users</h1>
  <% if (typeof success_banner != 'undefined'){ %>
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= success_banner %></strong>
    </div>
  <% }%>
</div>
<div class="row">
  <div class="col-sm-3 admin-options">
    <a class="btn btn-primary btn-block "
    href="#create-user"
    data-toggle="collapse">Create User</a>
    <a class="btn btn-primary btn-block "
    href="#create-team"
    data-toggle="collapse">Create Team</a>
    <div id="create-team" class="card card-body collapse">
      <% include ../partials/messages %>
      <% include ../partials/createTeam %>
    </div>
    <div id="create-user" class="card card-body collapse">
      <% include ../partials/messages %>
      <form action="/users/create" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="team">Team</label>
          <input
            type="team"
            id="team"
            name="team"
            class="form-control"
            placeholder="Enter Team"
            value="<%= typeof team != 'undefined' ? team : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Create
        </button>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <% include ../partials/userItem %>
  </div>
</div>

<script type="text/javascript" src="/js/admin.js"></script>
